$primary-light: #037a36;
$primary-dark: #00661D;

$secondary-light: white;
$secondary-dark: rgba(216, 216, 216, 0.26);

$orange: #C46C0C;
$blue: #1C75BC;
$grey: #aaaaaa;

$header-height: 100px;
$header-border: 5px;

$default-text-color: black;

$z-index: 1;

