.btn{
    &:focus{
        box-shadow: none;
    }

    &.f-bg-primary{
        background: $primary-dark;
        color: white;
    }

    &.f-bg-orange{
        background: $orange;
        color: white;
    }

    &.f-bg-blue{
        background: $blue;
        color: white;
    }
}

.f-spinner{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid rgba(black, 0.2);
    border-top-color: $primary-light;
    display: inline-block;

    &.white{
        border-top-color: white;
    }

    &.fa-spin-2x{
        animation-duration: 2s !important;
    }

    &.x2{
        width: 50px;
        height: 50px;
        border-width: 5px;
    }
}