.f-content{
    margin-left: $header-height * 3;
    padding: 40px;
    margin-top: $header-height;

    .f-text-primary{
        color: $primary-dark;
    }

    .description{
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 20px;
    }

    .f-card{
        background: white;
        padding: 50px;

        &.article{
            padding: 0;
            background: $primary-dark;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            .head{
                padding: 10px;
                background: $primary-dark;
                color: white;
                text-align: center;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            .list-group, .list-group-item{
                border-radius: 0;
            }
        }

        h3,h4{
            font-weight: 400;
        }

        h3{
            font-weight: 500;
        }
    }

    .article-item{
        margin: 20px;
        // background: red;
        position: relative;
        .title{
            background: $orange;
            padding: 30px;
            text-align: center;
            color: white;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            font-weight: 300;
            margin: 0;
            height: 130px;
            // text-overflow: ellipsis;
        }
        .body{
            background: white;
            margin: 0;
            padding: 30px;
            height: 200px;
            text-overflow: ellipsis;
            overflow: hidden;

            &.picture{
                width: 100%;
                height: 300px;
                padding: 0;
                border-radius: 10px;
                position: relative;
                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    object-fit: cover;
                }
                .play{
                    background: rgba(black, 0.5);
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    color: white;
                    font-size: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .icon{
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        box-sizing: border-box;
                        border: 5px solid white;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
        .actions{
            display: flex;
            justify-content: space-between;
            margin-top: 20px;
            align-items: center;
        }
        .preview{
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 50px;
            background: rgba($primary-dark, 0.9);
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            display: none;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            a{
                color: white;
            }

            &.picture{
                border-radius: 10px;
                bottom: 57px;
            }

            .response{
                display: flex;
                justify-content: space-around;
                width: 100%;
            }
        }

        &:hover .preview{
            display: flex;
        }
    }

    .add-article{
        position: fixed;
        bottom: 50px;
        right: 50px;
        width: 80px;
        height: 80px;
        font-size: 30px;
        color: white;
        background: $primary-dark;
        box-shadow: 10px 10px 10px rgba(black, 0.2);

        @media screen and (max-width: 768px) {
            bottom: 20px;
            right: 20px;
            width: 40px;
            height: 40px;
            font-size: unset;
        }
    }

    .article-page{
        .links{
            display: flex;
            justify-content: flex-end;
            .btn{
                margin: 0 10px 0 10px;
            }
        }
        .f-card{
            .img{
                width: 100%;
                height: $header-height * 4;
                position: relative;
               img{
                   object-fit: cover;
                   height: 100%;
                   width: 100%;
               }
               .upload{
                   position: absolute;
                   top: 0;
                   bottom: 0;
                   right: 0;
                   left: 0;
                   background: rgba(black, 0.3);
                   display: flex;
                   justify-content: center;
                   align-items: center;
                   .icon{
                       width: 100px;
                       height: 100px;
                       border-radius: 50%;
                       background: white;
                    //    font-size: 20px;
                       display: flex;
                       justify-content: center;
                       align-items: center;
                       cursor: pointer;
                   }
               }
            }
            .title{
                color: $primary-dark;
                text-align: center;
                margin-top: 50px;
                margin-bottom: 50px;
            }
            .body{
                font-size: 20px;
            }

            .edit-article{
                margin-top: 50px;
                input{
                    font-size: 30px;
                    font-weight: 400;
                    padding: 50px;
                    text-align: center;
                    color: $primary-dark;
                    border: 2px solid $primary-dark;
                    &:focus{
                        box-shadow: none;
                    }
                }
                textarea{
                    border: 2px solid $primary-dark;
                    font-size: 20px;
                    &:focus{
                        box-shadow: none;
                    }
                }
            }
        }
    }

    #deleteModal{
        margin-top: 200px;
        .modal-content{
            background: $primary-dark;
            border-radius: 50px;
        }
        .modal-body{
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 50px;
            .actions{
                width: 100%;
                display: flex;
                justify-content: space-around;
                padding: 10px 50px;
                align-items: center;
                .no,.yes{
                    font-size: 30px;
                    color: white;
                }
                .yes{
                    color: $orange;
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        // background: red;
        padding: 20px;
        margin-left: 0;
        margin-top: $header-height * 0.6;

        .description{
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 15px;
        }

        .f-card{
            padding: 10px;
        }
        .dashboard{
            .btn{
                margin-bottom: 5px;
            }
        }

        .article-item{
            margin: 0;
            margin-bottom: 20px;
            .title{
                padding: 20px;
                font-size: 17px;
                border-radius: 0;
            }
            .body{
                padding: 20px;
            }
            .preview{
                border-radius: 0;
            }
            .actions{
                .f-text-primary{
                    font-size: 15px;
                }
            }
        }

        .article-page{
            .links{
                .btn{
                    font-size: 12px;
                }
            }
            .f-card{
                .img{
                    height: 300px;
                }
                .title{
                    font-size: 25px;
                    margin: 15px;
                }
                .body{
                    font-size: 18px;
                    text-align: justify;
                }
            }
        }
    }
}