.f-header{
    width: 100%;
    height: $header-height;
    background: white;
    display: flex;
    box-shadow: 0 2px 5px rgba(black, 0.2);
    z-index: $z-index * 5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .logo{
        box-sizing: border-box;
        height: 100%;
        // background: blue;
        width: $header-height * 3;
        display: flex;
        align-items: center;
        padding-left: 50px;
        img{
            height: 75%;
        }
    }

    .search{
        flex-grow: 2;
        // background: yellow;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title{
            padding-left: 20px;
            // background: blue;
            color: $grey;
        }

        .form-group{
            width: 60%;
            // background: purple;
            position: relative;
            height: 40%;
            .form-control{
                border-radius: 50px;
                // border: 2px solid $grey;
                padding-left: 50px;
                padding-right: 50px;
                // box-shadow: 2px 2px 0 $grey;
                &{
                    box-shadow: 1px 1px 5px rgba(black, 0.1);
                }
                &:focus{
                    border-color: transparent;
                    box-shadow: 1px 1px 7px rgba(black, 0.2); 
                }
            }
            .btn{
                position: absolute;
                right: 0;
                top: 0;
                border-top-right-radius: 50px;
                border-bottom-right-radius: 50px;
                // border: 2px solid transparent;
                // border-color: $grey $grey $grey transparent;
                height: 100%;
                padding-right: 20px;
                background: transparent;

                &:hover{
                    color: $primary-dark;
                }

                &:focus{
                    box-shadow: none;
                }
                border: none;
            }
        }

        .f-social{
            // background: indianred;
            width: 50px;
            height: 50px;
            position: relative;
            .f-notify{
                color: $grey;
                &:hover{
                    color: $primary-dark;
                    text-decoration: none;
                }
                .badge{
                    position: absolute;
                    top: 0;
                    right: 20px;
                }
            }

            .f-drop-down{
                position: absolute;
                width: 200px;
                bottom: -165px;
                left: -90px;
                background: $primary-dark;
                color: white;
                display: none;
                flex-direction: column;
                z-index: $z-index * 3;
                .drop-link{
                    margin-bottom: 1px;
                    color: white;
                    padding: 5px 15px 5px 15px;
                    display: flex;
                    justify-content: space-between;
                }

                box-shadow: 0px 0px 5px rgba(black, 0.5);

                &::before{
                    content: "";
                    // width: 200px;
                    // height: 50px;
                    // background: purple;
                    position: absolute;
                    border: 15px solid transparent;
                    border-color: transparent transparent $primary-dark transparent;
                    top: -30px;
                    left: 45%;
                }
            }
        }

        .mobile-only{
            display: none;
        }
    }

    .user{
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
            color: $primary-dark;
        }
        img{
            width: 50px;
            height: 50px;
            border-radius: 10px;
            margin-left: 30px;
            object-fit: cover;
        }
        &:hover{
            text-decoration: none;
        }
    }

    @media screen and (max-width: 768px) {
        height: $header-height * 0.6;
        .logo{
            padding-left: 5px;
            height: 60%;
            // background: purple;
            margin-top: 10px;
            width: 90px;
        }
        .search{
            // background: red;
            // padding-left: 5px;
            .title{
                display: none;
            }
            .form-group{
                // background: blue;
                width: 80%;
                .form-control{
                    box-shadow: none;
                    border-width: 1px;
                    padding: 5px 10px;
                }
                .btn{
                    border: none;
                }
            }
            .f-social{
                display: none;
            }
            #sidebarToggle{
                // background: red;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                margin-left: -100px;
                color: $primary-dark;
                text-decoration: none;
            }
        }
        .user{
            display: none;
        }
    }
}