
.login-page{
    box-sizing: border-box;
    background: url('/static/img/hero.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .login-card{
        box-sizing: border-box;
        width: 80%;
        height: 80%;
        background: rgba(white, 0.7);
        border-radius: 50px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .heading{
            width: 20%;
            .title{
                color: $orange;
                text-align: center;
                margin: 30px 0;
            }
        }

        .form-group{
            width: 50%;
            margin: 30px 0;
            display: flex;
            // background: red;
            // border-left: 1px solid red;

            &.login-btn{
                display: flex;
                flex-direction: column;
                align-items: center;
                .actions{
                    margin-top: 10px;
                    font-size: 20px;
                    .forgot{
                        color: $orange;
                    }
                    .reset{
                        color: $primary-dark;
                    }
                }
                .btn{
                    width: 60%;
                    padding: 10px;
                    background: $primary-dark;
                    border: none;
                    border-radius: 10px;
                    &:focus{
                        box-shadow: none;
                    }
                }
            }

            .form-control{
               margin-left: 60px;
               background: transparent;
               border-radius: 0;
               border: 2px solid transparent;
               border-bottom-color: $primary-dark;
               font-size: 20px;

               &::placeholder{
                   text-align: center;
                   color: $primary-dark;
               }

               &:focus{
                   box-shadow: none;
                   border-bottom-color: $orange;
               }
            }
        }
    }


    @media screen and (max-width: 768px) {
        .login-card{
            width: 90%;
            height: 80%;
            border-radius: 15px;
            .heading{
                text-align: center;
                width: 100%;
                img{height: 50px;}
                .title{
                    // background: red;
                    font-size: 18px;
                    margin: 15px 0;
                }
            }
            .form-group{
                width: 100%;
                margin: 10px 0;
                // background: red;
                .form-control{
                    margin: 0;
                    font-size: 14px;
                }

                &.login-btn{
                    margin-top: 30px;
                    // background: red;
                    .actions{
                        margin-top: 10px;
                        font-size: 14px;
                    }
                    .btn{
                        width: 100%;
                        padding: 5px;
                        border-radius: 0;
                    }
                }
            }
        }
    }

}