.f-sidebar{
    box-sizing: border-box;
    background: url("/static/img/background.jpg");
    background-size: cover;
    width: $header-height * 3;
    height: 100%;
    position: fixed;
    top: $header-height;
    left: 0;
    bottom: 0;
    // border-right: $header-border solid $grey;

    .logout{
        color: black;
        // background: red;
        display: block;
        width: 100%;
        padding: 20px;
        font-size: 20px;
        position: absolute;
        bottom: 200px;
        z-index: $z-index * 5;
        // right: 0;
        // left: 0;

        &:hover{
            text-decoration: none;
            background: $primary-dark;
            color: white;
        }
    }

    &::before{
        content: "";
        position: absolute;
        background: rgba(white, 0.6);
        height: 100%;
        width: 100%;
        z-index: 1;
    }

    nav{
        position: relative;
        display: flex;
        z-index: 2;
        flex-direction: column;
        // background: red;

        a{
            // background: blue;
            // margin-bottom: 1px;
            padding: 20px;
            font-size: 20px;
            color: black;
            i{color: $primary-dark}
            span{
                display: inline-block;
                margin-left: 20px;
            }
            &:hover, &.active{
                background: $primary-dark;
                color: white;
                i{color: white;}
                text-decoration: none;
            }
            &.active{
                &::after{
                    content: "";
                    position: absolute;
                    top: 15px;
                    right: 0;
                    border: 20px solid transparent;
                    border-color: transparent #eeeeee transparent transparent;
                }
            }
            position: relative;

            &.drop{
                &::after{
                    border: transparent;
                }
            }

            &.media{
                display: none;
                background: rgba($primary-dark, 0.15);
                &:hover, &.active{
                    background: rgba($primary-dark, 0.6);
                }
            }

            &.account{
                background: $orange;
                color: white;
                padding: 0;
                margin: 0;
                padding-bottom: 10px;
                // border-bottom: 10px solid white;
                img{
                    height: 100px;
                    width: 100%;
                    object-fit: cover;
                }
                &:hover{
                    background: unset;

                }
                display: none;
            }
        }
    }

    @media screen and (max-width: 768px) {
        top: 0;
        z-index: $z-index * 10;
        width: $header-height * 2.5;
        box-shadow: 10px 1px 50px rgba(black, 0.6);
        margin-left: $header-height * -3;
        -moz-transition: margin-left 0.2s ease-in;
        -o-transition: margin-left 0.2s ease-in;
        -webkit-transition: margin-left 0.2s ease-in;
        transition: margin-left 0.2s ease-in;
        &.open{
            margin-left: 0;
        }
        nav{
            a{
                font-size: 15px;
                &.active{
                    &::after{
                        border: transparent;
                    }
                }
                &.account{
                    display: block;
                }
            }
        }
    }
}