<template>
    <div class="f-content">
        <div class="article-page">
            <div class="links">
                <!-- <button class="btn f-bg-orange">EDIT</button> -->
                <!-- <button class="btn f-bg-primary">CANCEL</button> -->
                 <button @click="submit" class="btn f-bg-orange">
                     <div class="f-spinner fa-spin white" v-if="loading"></div> <span class="ml-2" v-if="loading">Saving...</span>
                     <i class="fa fa-plus" v-if="!loading"></i> <span v-if="!loading">ADD</span>
                </button>
            </div>
            <br>
            <div class="f-card">
                <p class="text-success" v-if="loading === false">Article saved successfully</p>
                <div class="img">
                    <img :src="image">
                    <div class="upload">
                        <label for="image" class="icon">
                            <span class="fa fa-camera fa-3x"></span>
                        </label>
                        <input id="image" @change="uploadImage" type="file" style="display:none;">
                    </div>
                </div>
                <div class="form-group edit-article">
                    <span class="text-danger" v-if="errors.has('title')">{{errors.first('title')}}</span>
                    <input type="text" class="form-control" name="title" v-validate="'required'" v-model="title" placeholder="Enter Title Here">
                </div>
                <div class="form-group edit-article">
                    <span class="text-danger" v-if="errors.has('description')">{{errors.first('description')}}</span>
                    <textarea rows="10" class="form-control" name="description" v-validate="'required'" v-model="description" placeholder="Enter Message body here"></textarea>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            image: '/static/img/background.jpg',
            title: '',
            description: '',
            imgFile: null,
            loading: null
        }
    },
    methods: {
        submit () {
            this.$validator.validateAll().then(isValid => {
                if (isValid) {
                    this.loading = true
                    const formData = new FormData();
                    formData.append('image', this.imgFile)
                    formData.append('title', this.title)
                    formData.append('description', this.description)
                    this.axios({
                        method: 'post',
                        url: 'articles',
                        data: formData,
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                        // console.log(response.data)
                        this.loading = false
                        this.title = ''
                        this.description = ''
                        this.image = '/static/img/background.jpg'
                        // this.$store.dispatch('addArticle', response.data.article)
                        // this.$store.dispatch('addPhoto', response.data.photo)
                    }).catch(err => {
                        this.loading = null
                    })
                }
            })
        },
        uploadImage (event) {
            let files = event.target.files
            if (files && files[0]) {

                this.imgFile = files[0]

                let fileReader = new FileReader();

                fileReader.onload = (e) => {
                    this.image = e.target.result
                }

                fileReader.readAsDataURL(files[0])
            }
        }
    }
}
</script>

<style>

</style>
