<template>
    <div class="f-content">
        <div class="articles">
            <div class="row" v-if="articles.total">
                <app-article-item v-for="(article, index) in articles.data" :key="index" :index="index" :article="article"></app-article-item>
            </div>
            <h4 v-else>No Article ready yet</h4>
            <nav aria-label="Page navigation mt-5" style="display:block;">
                <ul class="pagination">
                    <li class="page-item" :class="{'disabled': !articles.prev_page_url}"><a @click="fetchArticles(articles.prev_page_url)" class="page-link" href="javascript:void(0)">Previous</a></li>
                    <li class="page-item" :class="{'disabled': !articles.next_page_url}"><a @click="fetchArticles(articles.next_page_url)" class="page-link" href="javascript:void(0)">Next</a></li>
                </ul>
            </nav>
            <router-link :to="{name: 'add-article'}" tag="button" class="btn add-article"><i class="fa fa-plus"></i></router-link>
        </div>
    </div>
</template>

<script>
import AppArticleItem from './article-item.vue'
import {mapGetters} from 'vuex'
export default {
    components: {AppArticleItem},
    computed: {
        ...mapGetters({
            articles: 'getArticles'
        })
    },
    mounted () {
        this.fetchArticles()
    },
    methods: {
        fetchArticles (url) {
            url = url ? url : '/articles'
            this.axios({
                method: 'get',
                url
            }).then(response => {
                // console.log(response.data)
                this.$store.dispatch('setArticles', response.data.articles)
            })
        }
    }
}
</script>

<style>

</style>
