<template>
    <div class="col-12 col-sm-12 col-md-4">
        <div class="article-item">
            <h3 class="title">{{article.title.slice(0, 100)}}...</h3>
            <div class="body">
                {{article.description.slice(0, 255)}}...
            </div>
            <div class="actions">
                <router-link :to="{name: 'edit-article', query: {article_id: article.id}}" tag="button" class="btn f-bg-blue"><i class="fa fa-pencil"></i></router-link>
                <h4 class="f-text-primary">{{article.status.toUpperCase()}}</h4>
                <button @click="showDelete = true" class="btn f-bg-orange"><i class="fa fa-trash"></i></button>
            </div>
            <div class="preview">
                <router-link :to="{name: 'article-page', query: {article_id: article.id}}" tag="a" v-if="!showDelete"  href="javascript:void(0)">PREVIEW</router-link>

                <a v-if="showDelete" href="javascript:void(0)" >DELETE?</a>
                <br>
                <div v-if="showDelete" class="response">
                    <a href="javascript:void(0)" @click="showDelete = false">NO</a>
                    <a href="javascript:void(0)" @click="deleteArticle">YES</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    props: ['article', 'index'],
    data () {
        return {
            showDelete: false
        }
    },
    methods: {
        ...mapActions({
            deleteArticleFromStore: 'removeArticle'
        }),
        deleteArticle () {
            console.log('deleting article id: ', this.article.id)
            this.axios({
                method: 'delete',
                url: `articles/${this.article.id}`
            }).then(response => {
                // console.log(response)
                this.deleteArticleFromStore(this.article.id)
            })
        }
    }
}
</script>
