<template>
    <div class="f-content">
        <div class="article-page" v-if="article">
            <div class="links">
                <router-link :to="{name: 'edit-article', query: {article_id: $route.query.article_id}}" tag="button" class="btn f-bg-orange">EDIT</router-link>
                <button class="btn f-bg-primary" @click="showDeleteModal">DELETE</button>
                 <button class="btn f-bg-orange" v-if="article.status === 'published'" @click="publish('unpublished')">UNPUBLISH</button>
                 <button class="btn f-bg-primary" v-if="article.status === 'unpublished'" @click="publish('published')">PUBLISH</button>
                <button class="btn" @click="$router.go(-1)" style="color:white;background:#555;"><i class="fa fa-times"></i></button>
            </div>
            <br>
            <div class="f-card" >
                <div class="img">
                    <img :src="article.primary_image">
                </div>
                <h2 class="title">{{article.title}}</h2>
                <p class="body">
                   {{article.description}}
                </p>
            </div>
        </div>

        <div class="article-page" v-else>Nothing to display</div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            
            <div class="modal-body">
                <h3>DELETE?</h3>
                <div class="actions">
                    <a class="no" data-dismiss="modal" href="javascript:void(0)">NO</a>
                    <a class="yes" href="javascript:void(0)" @click="deleteArticle">Yes</a>
                </div>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import {mapActions} from 'vuex'
export default {
    data () {
        return {
            article: null
        }
    },
    mounted () {
        // this.setSelectedArticle()
        this.fetchSelectedArticle()
    },
    methods: {
        publish (status) {
            // console.log(status)
            this.axios({
                method: 'post',
                url: 'articles/publish',
                data: {status, id: this.article.id}
            }).then(response => {
                this.article.status = this.article.status === 'published' ? 'unpublished' : 'published'
                console.log(this.article.status)
                console.log(response.data)
            })
        },
        deleteArticle () {
            // this.$store.dispatch('removeArticle', this.article.id)
            this.axios({
                url: 'articles/' + this.$route.query.article_id,
                method: 'delete'
            }).then(response => {
                $('#deleteModal').modal('hide')
                this.$router.push({name: 'articles'})
            })
            
        },
        setSelectedArticle (article) {
            if (article) {
                this.$store.dispatch('setSelectedArticle', {by: 'article', value: article})
            } else {
                this.$store.dispatch('setSelectedArticle', {by: 'id', value: this.$route.query.article_id})
            }
        },
        showDeleteModal () {
            $('#deleteModal').modal({backdrop: 'static'})
        },
        fetchSelectedArticle () {
            this.axios({
                url: `articles/${this.$route.query.article_id}`,
                method: 'get'
            }).then(response => {
                this.article = response.data.article
            })
        }
    },
    watch: {
        '$route.query.article_id' () {
            console.log('setting article from route watch')
            this.setSelectedArticle()
        }
    }
}
</script>

<style>

</style>
