<template>
    <div class="f-content">
        <div class="article-page">
            <div class="links">
                <!-- <button class="btn f-bg-orange">EDIT</button> -->
                <button class="btn f-bg-primary" @click="cancel">CANCEL</button>
                 <button class="btn f-bg-orange" @click="save">SAVE</button>
            </div>
            <br>
            <div class="f-card">
                <div class="img">
                    <img :src="primary_image">
                    <div class="upload">
                        <label for="image" class="icon">
                            <span class="fa fa-camera fa-3x"></span>
                        </label>
                        <input id="image" @change="uploadImage" type="file" style="display:none;">
                    </div>
                </div>
                <div class="form-group edit-article">
                    <span class="text-danger" v-if="errors.has('title')">{{errors.first('title')}}</span>
                    <input type="text" class="form-control" v-validate="'required'" v-model="title" name="title" placeholder="Title">
                </div>
                <div class="form-group edit-article">
                    <span class="text-danger" v-if="errors.has('description')">{{errors.first('description')}}</span>
                    <textarea rows="10" class="form-control" v-validate="'required'" name="description" v-model="description"></textarea>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            id: '',
            primary_image: '/static/img/waste.jpg',
            title: '',
            description: '',
            imgFile: null
        }
    },
    computed: {
        article () {
            return this.$store.getters.getSelectedArticle
        }
    },
    methods: {
        fetchArticle () {
            this.axios({
                url: 'articles/' + this.$route.query.article_id,
                method: 'get'
            }).then(response => {
                // console.log(response.data)
                let {id, title, description, primary_image} = response.data.article
                this.title = title
                this.id = this.$route.query.article_id
                this.description = description
                this.primary_image = primary_image
            })
        },
        save () {
            this.$validator.validateAll().then(result => {
                if(result) {

                    let formData = new FormData();
                    formData.append('id', this.id)
                    formData.append('image', this.imgFile)
                    formData.append('title', this.title)
                    formData.append('description', this.description)

                    this.axios({
                        method: 'post',
                        url: 'articles/edit',
                        data: formData,
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                        this.$router.push({name: 'article-page', query: {article_id: this.id}})
                    })
                }
            })
        },
        cancel () {
            this.$router.go(-1)
        },
        uploadImage (event) {
            let files = event.target.files
            if (files && files[0]) {
                this.imgFile = files[0]

                let fileReader = new FileReader();

                fileReader.onload = (e) => {
                    this.primary_image = e.target.result
                }

                fileReader.readAsDataURL(files[0])
            }
        }
    },
    mounted () {
        this.fetchArticle()
    },
    watch: {
        '$route.query.article_id' () {
            this.fetchArticle()
        }
    }
}
</script>

<style>

</style>
