<template>
    <header class="f-header">
        <div class="logo">
            <img src="/static/img/logo/full-color.svg">
        </div>
        <div class="search">
            <h3 class="title">{{$route.name.charAt(0).toUpperCase()}}{{$route.name.slice(1)}}</h3>
            <div class="form-group">
                <input v-model="term" class="form-control" @keydown.enter="search" placeholder="Search articles">
                <button @click="search" class="btn"><i class="fa fa-search"></i></button>
            </div>
            <a href="javascript:void(0)" id="sidebarToggle" class="mobile-only" @click="toggleSideBar"><i class="fa fa-bars"></i></a>
            <div class="f-social">
                <a href="javascript:void(0)" class="f-notify" @click.prevent="toggleDropdown">
                    <i class="fa fa-globe fa-2x"></i>
                    <i class="fa fa-angle-down" style="display:inline-block;margin-left:5px;"></i>
                    <span class="badge badge-danger" style="border-radius:10px;background:red;">7</span>
                </a>
                <div class="f-drop-down">
                    <a href="javascript:void(0)" class="drop-link"> <i class="fa fa-envelope"></i> <span>Email</span> <span class="">2</span></a>
                    <a href="javascript:void(0)" class="drop-link"> <i class="fa fa-facebook"></i> <span>Facebook</span> <span class="">2</span></a>
                    <a href="javascript:void(0)" class="drop-link"> <i class="fa fa-instagram"></i> <span>Instagram</span> <span class="">2</span></a>
                    <a href="javascript:void(0)" class="drop-link"> <i class="fa fa-twitter"></i> <span>Twitter</span> <span class="">2</span></a>
                </div>
            </div>
        </div>
        <a @click="editProfile" href="javascript:void(0)" class="user">
            <span>{{user.name}}</span>
            <img :src="user.image">
        </a>
    </header>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data () {
        return {
            placeholder: 'Search',
            term: ''
        }
    },
    computed: {
        ...mapGetters({
            user: 'getUser'
        })
    },
    methods: {
        editProfile () {
            $('#profileModal').modal({backdrop: 'static'})
        },
        toggleDropdown () {
            $('.f-drop-down').toggle()
        },
        toggleSideBar () {
            let sidebar = $('.f-sidebar')
            sidebar.toggleClass('open')
            $('#sidebarToggle').find('i').toggleClass('fa-bars fa-times')
        },
        search () {
            this.axios({
                url: `articles/search?q=${this.term}`,
                method: 'get',
            }).then(response => {
                this.$store.dispatch('setArticles', response.data.articles)
            })
        }
    },
    watch: {
        '$route' () {
            this.placeholder = 'Search ' + this.$route.name
        }
    }
}
</script>

<style>

</style>
