<template>
    <div class="auth">
        <app-header></app-header>
        <app-side-bar></app-side-bar>
        <router-view></router-view>

        <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form @submit.prevent="saveProfile">
                    
                <div class="form-group">
                    <label>Name</label>
                    <span class="text-danger float-right" v-if="errors.has('name')">{{errors.first('name')}}</span>
                    <input type="text" v-model="name" name="name" v-validate="'required|alpha_spaces'" class="form-control" placeholder="Enter Full Name">
                </div>

                <div class="form-group">
                    <label>Username</label>
                    <span class="text-danger float-right" v-if="errors.has('username')">{{errors.first('username')}}</span>
                    <input type="text" v-model="username" name="username" v-validate="'required|alpha_num'" class="form-control" placeholder="Enter unique username">
                </div>

                <div class="form-group">
                    <label>Phone</label>
                    <span class="text-danger float-right" v-if="errors.has('phone')">{{errors.first('phone')}}</span>
                    <input type="number" v-model="phone" name="phone" v-validate="'required|numeric|min:10'" class="form-control" placeholder="Enter Phone">
                </div>

                <div class="form-group">
                    <label>Profile Image</label>
                    <input type="file" name="image" class="form-control"  @change="uploadImage">
                </div>

                
                <div class="form-group">
                    <label>Old Password</label>
                    <span class="text-danger float-right" v-if="errors.has('old_password')">{{errors.first('old_password')}}</span>
                    <input type="password" v-model="old_password" name="old_password" v-validate="'required'" class="form-control" placeholder="Enter Old Password">
                </div>

                <p class="text-success">Change Password</p>

                <div class="form-group">
                    <label>New Password</label>
                    <span class="text-danger float-right" v-if="password_error">{{password_error}}</span>
                    <input type="password" v-model="new_password" name="new_password" class="form-control" placeholder="Enter New Password">
                </div>

                <div class="form-group">
                    <label>Confirm New Password</label>
                    <input type="password" v-model="confirm_password" name="confirm_password" class="form-control" placeholder="Enter New Password">
                </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn f-bg-orange" data-dismiss="modal">Close</button>
                <button @click="saveProfile" type="button" class="btn f-bg-primary"> <div v-if="loading" class="f-spinner fa-spin white mr-3"></div> Save changes</button>
            </div>
            </div>
        </div>
        </div>
    </div>
</template>

<script>
import AppHeader from './header.vue'
import AppSideBar from './sidebar.vue'

export default {
    components: {AppHeader, AppSideBar},
    data () {
        return {
            name: '',
            username: '',
            phone: '',
            old_password: '',
            new_password: '',
            confirm_password: '',
            password_error: '',
            image: null,
            loading: false
        }
    },
    mounted () {
        let user = this.$store.getters.getUser
        this.name = user.name
        this.phone = user.phone
        this.username = user.username
    },
    methods: {
        saveProfile () {
            this.$validator.validateAll().then(result => {
                if (result) {
                    this.password_error = ''
                    if (this.new_password) {

                        if (this.new_password.length < 6) {
                            thisi.password_error = 'New Password must be more than 6 characters'
                            return false
                        }
                        
                        if (this.new_password !== this.confirm_password) {
                            this.password_error = 'Passwords do not match'
                            return false
                        }
                    }

                    let formData = new FormData()
                    formData.append('name', this.name)
                    formData.append('phone', this.phone)
                    formData.append('image', this.image)
                    formData.append('old_password', this.old_password)
                    formData.append('new_password', this.new_password)
                    formData.append('username', this.username)
                    this.loading = true
                    this.axios({
                        method: 'post',
                        url: 'user/profile',
                        data: formData,
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    }).then(response => {
                        this.$store.dispatch('setUser', response.data.user)
                        $('#profileModal').modal('hide')
                        // console.log(response.data)
                        this.loading = false
                    }).catch(error => {
                        this.loading = false
                        alert(error.response.data.message)
                    })
                }
            })
        },
        uploadImage (event) {
            let files = $(event.target).prop('files')
            if (files && files[0]) this.image = files[0]
        }
    },
    watch: {
        '$store.getters.getUser' () {
            let user = this.$store.getters.getUser
            this.name = user.name
            this.phone = user.phone
            this.username = user.username
        }
    }
}
</script>

<style>

</style>
