<template>
    <aside class="f-sidebar">
        <nav>
            <a href="javascript:void(0)" class="account mobile-only">
                <img src="/static/img/pics-icon.jpg">
                <span>Tracy Owusu Tracy</span>
            </a>
            
            <router-link :to="{name: 'dashboard'}" tag="a" active-class="active" href="javascript:void(0)">
                <i class="fa fa-dashboard"></i>
                <span>SUMMARY</span>
            </router-link>

            <router-link :to="{name: 'articles'}" tag="a" :class="{'active': $route.meta.link === 'article'}" active-class="active" href="javascript:void(0)">
                <i class="fa fa-list"></i>
                <span>ARTICLES</span>
            </router-link>
            <a href="javascript:void(0)" class="drop" @click="showDrop" :class="{'active': $route.meta.link === 'media' || $route.meta.parent === 'picture' || $route.meta.parent === 'video'}">
                <i class="fa fa-play"></i>
                <span>MEDIA</span>
                <i :class="`fa ${icon} float-right`"></i>
            </a>

            <router-link class="media" :to="{name: 'pictures'}" :class="{'active': $route.meta.parent === 'picture'}" tag="a" active-class="active" href="javascript:void(0)" style="padding-left:40px;">
                <i class="fa"></i>
                <span>PICTURES</span>
            </router-link>

            <router-link class="media" :to="{name: 'videos'}" :class="{'active': $route.meta.parent === 'video'}" tag="a" active-class="active" href="javascript:void(0)" style="padding-left:40px;">
                <i class="fa"></i>
                <span>VIDEOS</span>
            </router-link>
        </nav>
        <a @click="logout" href="javascript:void(0)" class="logout">
            <i class="fa fa-power-off"></i>
            <span class="ml-3">LOG OUT</span>
        </a>
    </aside>
</template>

<script>
export default {
    data () {
        return {
            icon: 'fa-angle-down'
        }
    },
    methods: {
        showDrop () {
            $('.media').slideToggle()

            if (this.icon === 'fa-angle-down') {
                this.icon = 'fa-angle-up'
            } else {
                this.icon = 'fa-angle-down'
            }
        },
        logout () {
            this.$auth.destroyToken()
            this.$router.push({name: 'login'})
        }
    }
}
</script>

<style>
</style>
