<template>
    <div class="f-content">
        <div class="article-page">
            <div class="links">
                <!-- <button class="btn f-bg-orange">EDIT</button> -->
                <button class="btn f-bg-primary">CANCEL</button>
                <button class="btn f-bg-orange" @click="submit">SAVE</button>
                <!-- <button class="btn f-bg-orange">UNPUBLISH</button> -->
                <!-- <button class="btn f-bg-primary">PUBLISH</button> -->
            </div>
            <br>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="f-card">
                        <p class="text-success" v-if="success">Video Added successfully</p>
                        <p class="text-danger" v-if="success === false">Make sure you select image, article and entered a caption</p>
                        <div class="img">
                            <!-- <img :src="image"> -->
                            <video width="100%" height="100%" id="videoPreview" style="object-fit:contain;" controls>
                                <source :src="video" type="video/mp4">
                                <source :src="video" type="video/3gpp">
                                <source :src="video" type="video/ogg">
                                Your browser does not support the video tag.
                            </video>
                            <div class="upload" v-if="!videoFile">
                                <label for="image" class="icon">
                                    <span class="fa fa-play fa-3x"></span>
                                </label>
                            </div>
                            <input id="image" @change="uploadVideo" type="file" style="display:none;">
                        </div>
                        <label v-if="videoFile" for="image" class="btn f-bg-orange btn-block" style="border-radius:0;"><i class="fa fa-upload"></i> CHANGE VIDEO {{filename ? '(' + filename + ')' : ''}}</label>
                        <!-- <div class="form-group edit-article">
                            <input type="text" class="form-control" v-model="title" placeholder="Enter Title Here">
                        </div> -->
                        <div class="form-group edit-article">
                            <textarea rows="5" class="form-control" v-model="caption" placeholder="Caption this photo"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="f-card article">
                        <h4 class="head">SELECT ARTICLE <i class="fa fa-angle-down float-right"></i></h4>
                        <ul class="list-group">
                            <li style="cursor:pointer;" class="list-group-item" v-for="(article, index) in articles.data" :key="index" @click="selectArticle($event,article.id)">{{article.title}}</li>
                            <li class="list-group-item">
                                <nav aria-label="Page navigation float-right" style="display:block;">
                                    <ul class="pagination">
                                        <li class="page-item" :class="{'disabled': !articles.prev_page_url}"><a @click="fetchArticles(articles.prev_page_url)" class="page-link" href="javascript:void(0)">Previous</a></li>
                                        <li class="page-item" :class="{'disabled': !articles.next_page_url}"><a @click="fetchArticles(articles.next_page_url)" class="page-link" href="javascript:void(0)">Next</a></li>
                                    </ul>
                                </nav>
                            </li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data () {
        return {
            video: '/static/img/background.jpg',
            title: '',
            description: '',
            article_id: '',
            caption: '',
            videoFile: null,
            filename: '',
            success: null
        }
    },
    computed: {
        ...mapGetters({
            articles: 'getArticles'
        })
    },
    methods: {
        selectArticle (event, id) {
            $('.list-group-item').css({
                color: 'black', background: 'white'
            })
            $(event.target).css({
                color: 'white', background: '#037a36'
            })
            this.article_id = id
        },
        fetchArticles (url) {
            url = url ? url : '/articles'
            this.axios({
                method: 'get',
                url
            }).then(response => {
                // console.log(response.data)
                this.$store.dispatch('setArticles', response.data.articles)
            })
        },
        uploadVideo (event) {
            

            let files = event.target.files
            
            // console.log(files)
            if (files && files[0]) {
            
                this.videoFile = files[0]
                this.filename = files[0].name
                var $source = $('#videoPreview');
                $source[0].src = URL.createObjectURL(files[0]);
                // $source.parent()[0].load();
            } else {
                this.videoFile = null
            }
        },
        submit () {
            if (!this.caption || !this.videoFile || !this.article_id) {
                this.success = false
                // console.log('caption', this.caption)
                // console.log('videoFile', this.videoFile)
                // console.log('article_id', this.article_id)
                return false
            }

            this.success = null
            
            let formData = new FormData()
            formData.append('caption', this.caption)
            formData.append('media', this.videoFile)
            formData.append('type', 'video')
            formData.append('article_id', this.article_id)
            
            this.axios({
                url: 'media',
                method: 'post',
                data: formData,
                headers: {'Content-Type': 'multipart/form-data'}
            }).then(response => {
                console.log(response.data)
                this.success = true
            })
        }
    }
}
</script>

<style>

</style>
