<template>
    <div class="f-content">
        <div class="article-page">
            <div class="links">
                <!-- <button class="btn f-bg-orange">EDIT</button> -->
                <button @click="$router.go(-1)" class="btn f-bg-primary">CANCEL</button>
                <button @click="submit" class="btn f-bg-orange"><div class="f-spinner fa-spin white mr-3" v-if="loading"></div> SAVE</button>
                <!-- <button @click="publish('published')" class="btn f-bg-orange">PUBLISH</button> -->
                <!-- <button @click="publish('unpublished')" class="btn f-bg-orange">UNPUBLISH</button> -->
            </div>
            <br>
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="f-card">
                        <p class="text-success" v-if="success">Photo Added successfully</p>
                        <p class="text-danger" v-if="success === false">Make sure you select image, article and entered a caption</p>
                        <div class="img">
                            <img :src="image">
                            <div class="upload">
                                <label for="image" class="icon">
                                    <span class="fa fa-camera fa-3x"></span>
                                </label>
                                <input id="image" @change="uploadImage" type="file" style="display:none;">
                            </div>
                        </div>
                        <!-- <div class="form-group edit-article">
                            <input type="text" class="form-control" v-model="title" placeholder="Enter Title Here">
                        </div> -->
                        <div class="form-group edit-article">
                            <textarea rows="5" class="form-control" v-model="caption" placeholder="Caption this photo"></textarea>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-4">
                    <div class="f-card article">
                        <h4 class="head">SELECT ARTICLE <i class="fa fa-angle-down float-right"></i></h4>
                        <ul class="list-group">
                            <li style="cursor:pointer;" class="list-group-item" v-for="(article, index) in articles.data" :key="index" @click="selectArticle($event,article.id)">{{article.title}}</li>
                            <li class="list-group-item">
                                <nav aria-label="Page navigation float-right" style="display:block;">
                                    <ul class="pagination">
                                        <li class="page-item" :class="{'disabled': !articles.prev_page_url}"><a @click="fetchArticles(articles.prev_page_url)" class="page-link" href="javascript:void(0)">Previous</a></li>
                                        <li class="page-item" :class="{'disabled': !articles.next_page_url}"><a @click="fetchArticles(articles.next_page_url)" class="page-link" href="javascript:void(0)">Next</a></li>
                                    </ul>
                                </nav>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data () {
        return {
            image: '/static/img/background.jpg',
            title: '',
            description: '',
            article_id: '',
            caption: '',
            success: null,
            loading: false
        }
    },
    computed: {
        ...mapGetters({
            articles: 'getArticles'
        })
    },
    methods: {
        selectArticle (event, id) {
            $('.list-group-item').css({
                color: 'black', background: 'white'
            })
            $(event.target).css({
                color: 'white', background: '#037a36'
            })
            this.article_id = id
        },
        fetchArticles (url) {
            url = url ? url : '/articles'
            this.axios({
                method: 'get',
                url
            }).then(response => {
                // console.log(response.data)
                this.$store.dispatch('setArticles', response.data.articles)
            })
        },
        uploadImage (event) {
            let files = event.target.files
            if (files && files[0]) {
                this.imgFile = files[0]
                let fileReader = new FileReader();

                fileReader.onload = (e) => {
                    this.image = e.target.result
                }

                fileReader.readAsDataURL(files[0])
            }
        },
        submit () {
            if (!this.caption || !this.imgFile || !this.article_id) {
                this.success = false
                return false
            }

            let formData = new FormData()
            formData.append('caption', this.caption)
            formData.append('media', this.imgFile)
            formData.append('type', 'photo')
            formData.append('article_id', this.article_id)
            this.loading = true
            this.axios({
                url: 'media',
                method: 'post',
                data: formData,
                headers: {'Content-Type': 'multipart/form-data'}
            }).then(response => {
                console.log(response.data)
                this.success = true
                this.loading = false
            }).catch(err => {
                this.loading = false
            })
        }
    }
}
</script>

<style>

</style>
