<template>
    <div class="f-content">
        <div class="article-page">
            <div class="links">
                <!-- <button class="btn f-bg-orange">EDIT</button> -->
                <button @click="$router.go(-1)" class="btn f-bg-primary">CANCEL</button>
                <button @click="submit" class="btn f-bg-orange"><div class="f-spinner fa-spin white mr-3" v-if="loading"></div> SAVE</button>
                <button v-if="status === 'unpublished'" @click="publish('published')" class="btn f-bg-primary">PUBLISH</button>
                <button v-if="status === 'published'" @click="publish('unpublished')" class="btn f-bg-orange">UNPUBLISH</button>
            </div>
            <br>
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="f-card">
                        <p class="text-success" v-if="success">Changes saved successfully</p>
                        <div class="img">
                            <video width="100%" height="100%" style="object-fit:contain;" id="video-preview" controls>
                                <source :src="videoUrl" type="video/mp4">
                                <source :src="videoUrl" type="video/3gpp">
                                <source :src="videoUrl" type="video/ogg">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                        <h4 class="mt-5">{{title}}</h4>
                        <!-- <div class="form-group edit-article">
                            <input type="text" class="form-control" v-model="title" placeholder="Enter Title Here">
                        </div> -->
                        <div class="form-group edit-article">
                            <label>Edit Caption</label>
                            <span class="text-danger float-right" v-if="errors.has('caption')">{{errors.first('caption')}}</span>
                            <textarea rows="5" class="form-control" name="caption" v-validate="'required'" v-model="caption" placeholder="Caption this photo"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    data () {
        return {
            videoUrl: '',
            title: '',
            description: '',
            article_id: '',
            caption: '',
            success: null,
            id: '',
            status: '',
            loading: false
        }
    },
    computed: {
        ...mapGetters({
            articles: 'getArticles'
        })
    },
    mounted () {
        this.fetchPhoto()
    },
    methods: {
        publish (status) {
            this.axios({
                method: 'post',
                url: 'media/publish',
                data: {status, id: this.id, type: 'video'}
            }).then(response => {
                console.log(response.data)
                this.status = this.status === 'published' ? 'unpublished' : 'published'
            })
        },
        fetchPhoto () {
            let type = 'video'
            this.axios({
                method: 'get',
                url: `media/${this.$route.query.video_id}?type=${type}`
            }).then(response => {
                // console.log(response.data)
                this.videoUrl = response.data.video.name
                this.caption = response.data.video.caption
                this.id = response.data.video.id
                this.status = response.data.video.status
                this.title = response.data.video.article.title
                $('#video-preview')[0].load()
            })
        },
        submit () {
           this.$validator.validateAll().then(result => {
               if (result) {
                   this.axios({
                       method: 'post',
                       url: 'media/edit',
                       data: {caption: this.caption, type: 'video', id: this.id}
                   }).then(response => {
                       console.log(response.data)
                       this.success = true
                   })
               }
           })
        }
    }
}
</script>

<style>

</style>
