<template>
    <div class="f-content">
        <div class="articles">
            <div class="row" v-if="photos.total">
                <app-picture-item @previewImage="previewImage" v-for="(photo, index) in photos.data" :key="index" :photo="photo"></app-picture-item>
            </div>
            <h4 v-else>No Photos</h4>
            <router-link :to="{name: 'add-picture'}" tag="button" class="btn add-article"><i class="fa fa-plus"></i></router-link>
        </div>

        
        <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background:rgba(0, 0, 0, 0.7);">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-body" id="body" style="height:100%;">
                <img :src="imageUrl" style="width:100%;height:100%;object-fit:cover;">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>


    </div>
</template>

<script>
import AppPictureItem from './picture-item.vue'
import {mapGetters} from 'vuex'
export default {
    components: {AppPictureItem},
    data () {
        return {
            imageUrl: ''
        }
    },
    computed: {
        ...mapGetters({
            photos: 'getPhotos'
        })
    },
    mounted () {
        $('#body').css({height: (window.innerHeight * 0.55) + 'px'})
        this.axios({
            method: 'get',
            url: 'photos'
        }).then(response => {
            // console.log(response.data)
            this.$store.dispatch('setPhotos', response.data.photos)
        })
    },
    methods: {
        previewImage (imageUrl) {
            this.imageUrl = imageUrl
            console.log(imageUrl)
            $('#previewModal').modal('show')
        }
    }
}
</script>

<style>

</style>
