<template>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="article-item">
            <!-- <h3 class="title">WASTE MANAGEMENT SOLUTIONS</h3> -->
            <div class="body picture">
                <img :src="photo.name">
            </div>
            <div class="actions">
                <router-link :to="{name: 'edit-picture', query: {photo_id: photo.id}}" tag="button" class="btn f-bg-blue"><i class="fa fa-pencil"></i></router-link>
                <h4 class="f-text-primary">{{photo.status.toUpperCase()}}</h4>
                <button @click="showDelete = true" class="btn f-bg-orange"><i class="fa fa-trash"></i></button>
            </div>
            <div class="preview picture">
                <a  v-if="!showDelete" @click="previewImage"  href="javascript:void(0)">PREVIEW</a>

                <a v-if="showDelete" href="javascript:void(0)">DELETE?</a>
                <br>
                <div v-if="showDelete" class="response">
                    <a href="javascript:void(0)" @click="showDelete = false">NO</a>
                    <a href="javascript:void(0)" @click="deleteMedia">YES</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: ['photo'],
    data () {
        return {
            showDelete: false,
            type: 'photo'
        }
    },
    methods: {
        deleteMedia () {
            this.axios({
                url: `media/remove/${this.photo.id}?type=${this.type}`,
                method: 'get'
            }).then(response => {
                console.log(response.data)
                this.$store.dispatch('removePhoto', this.photo.id)
            })
            // this.$store.dispatch('removeArticle', this.article.id)
        },
        previewImage () {
            this.$emit('previewImage', this.photo.name)
        }
    }
}
</script>
