<template>
    <div class="f-content">
        <div class="articles">
            <div class="row" v-if="videos.data.length">
                <app-video-item @previewVideo="previewVideo" v-for="(video, index) in videos.data" :key="index" :video="video"></app-video-item>
            </div>
            <h5 v-else>No Videos</h5>
            <router-link :to="{name: 'add-video'}" tag="button" class="btn add-article"><i class="fa fa-plus"></i></router-link>
        </div>

        <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background:rgba(0, 0, 0, 0.7);">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-body" id="body" style="height:100%;width:100%;">
                <video width="100%" height="100%" style="object-fit:contain;" id="previewVideo" controls>
                    <source :src="videoUrl" type="video/mp4">
                    <source :src="videoUrl" type="video/3gpp">
                    <source :src="videoUrl" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>

    </div>
</template>

<script>
import AppVideoItem from './video-item.vue'
import {mapGetters} from 'vuex'
export default {
    components: {AppVideoItem},
    data () {
        return {
            videoUrl: ''
        }
    },
    computed: {
        ...mapGetters({
            videos: 'getVideos'
        })
    },
    mounted () {
        $('#body').css({height: (window.innerHeight * 0.55) + 'px'})
        this.axios({
            url: 'videos',
            method: 'get'
        }).then(response => {
            // console.log(response.data)
            this.$store.dispatch('setVideos', response.data.videos)
        })
    },
    methods: {
        previewVideo (videoUrl) {
            // console.log(videoUrl)
            this.videoUrl = videoUrl
            $('#previewVideo')[0].load()
            $('#previewModal').modal('show')
        }
    }
}
</script>

<style>

</style>
