<template>
    <div class="col-12 col-sm-6 col-md-4">
        <div class="article-item">
            <!-- <h3 class="title">WASTE MANAGEMENT SOLUTIONS</h3> -->
            <div class="body picture">
                <video width="100%" height="100%" style="object-fit:contain;">
                    <source :src="video.name" type="video/mp4">
                    <source :src="video.name" type="video/3gpp">
                    <source :src="video.name" type="video/ogg">
                    Your browser does not support the video tag.
                </video>
                <div class="play">
                    <div class="icon"><i class="fa fa-play"></i></div>
                </div>
            </div>
            <div class="actions">
                <router-link :to="{name: 'edit-video', query: {video_id: video.id}}" tag="button" class="btn f-bg-blue"><i class="fa fa-pencil"></i></router-link>
                <h4 class="f-text-primary">{{video.status.toUpperCase()}}</h4>
                <button @click="showDelete = true" class="btn f-bg-orange"><i class="fa fa-trash"></i></button>
            </div>
            <div class="preview picture">
                <a   v-if="!showDelete" @click="previewVideo"  href="javascript:void(0)">PREVIEW</a>

                <a v-if="showDelete" href="javascript:void(0)">DELETE?</a>
                <br>
                <div v-if="showDelete" class="response">
                    <a href="javascript:void(0)" @click="showDelete = false">NO</a>
                    <a href="javascript:void(0)" @click="deleteMedia">YES</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['video'],
    data () {
        return {
            showDelete: false,
            type: 'video'
        }
    },
    methods: {
        previewVideo () {
            this.$emit('previewVideo', this.video.name)
        },
        deleteMedia () {
            this.axios({
                url: `media/remove/${this.video.id}?type=${this.type}`,
                method: 'get'
            }).then(response => {
                console.log(response.data)
                this.$store.dispatch('removeVideo', this.video.id)
            })
            // this.$store.dispatch('removeArticle', this.article.id)
        },
    }
}
</script>
