<template>
    <div class="f-content" v-if="summary">
        <h1 class="f-text-primary">Hello {{user.name.split(' ')[0]}}</h1>
        <p class="description">
            Currently, you have {{summary.articles.unpublished + summary.articles.published}} Articles,
            {{summary.photos.published + summary.photos.unpublished}} Photos,
            and {{summary.videos.unpublished + summary.videos.published}} Videos.
        </p>
        <div class="f-card">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <h3 class="f-text-primary">ARTICLES : {{summary.articles.unpublished + summary.articles.published}}</h3>
                    <h4>PUBLISHED : {{summary.articles.published}}</h4>
                    <h4>UNPUBLISHED : {{summary.articles.unpublished}}</h4>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <h3 class="f-text-primary">PHOTOS : {{summary.photos.published + summary.photos.unpublished}}</h3>
                    <h4>PUBLISHED : {{summary.photos.published}}</h4>
                    <h4>UNPUBLISHED : {{summary.photos.unpublished}}</h4>
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <h3 class="f-text-primary">VIDEOS : {{summary.videos.published + summary.videos.unpublished}}</h3>
                    <h4>PUBLISHED : {{summary.videos.published}}</h4>
                    <h4>UNPUBLISHED : {{summary.videos.unpublished}}</h4>
                </div>
            </div>
        </div>
        <div class="row mt-5 dashboard">
            <div class="col-12 col-sm-6 col-md-4">
                <router-link :to="{name: 'articles'}" tag="button" class="btn btn-block f-bg-primary">ARTICLES</router-link>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <router-link :to="{name: 'pictures'}" tag="button" class="btn btn-block f-bg-orange">PHOTOS</router-link>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <router-link :to="{name: 'videos'}" tag="a" class="btn btn-block f-bg-orange">VIDEOS</router-link>
            </div>
        </div>
    </div>
    <div class="f-content text-center" v-else>
        <div class="f-spinner fa-spin x2"></div>
    </div>
</template>

<script>
import {mapGetters} from 'vuex'
export default {
    computed: {
        ...mapGetters({
            summary: 'getSummary',
            user: 'getUser'
        })
    },
    mounted () {
        this.axios({
            method: 'get',
            url: 'summary'
        }).then(response => {
            // console.log(response.data)
            this.$store.dispatch('setSummary', response.data.summary)
        })
    }
}
</script>

<style>

</style>
