<template>
    <div class="login-page">
        <div class="login-card">

            <div class="heading">
                <img src="/static/img/logo/full-color.svg">
                <h3 class="title">FORGOT PASSWORD</h3>
            </div>

            <div class="form-group username">
                <input class="form-control" placeholder="recovery email or phone" name="username">
            </div>

            <div class="form-group password">
                <input class="form-control" placeholder="verification code" name="password">
            </div>

            <div class="form-group login-btn">
                <button class="btn btn-primary btn-block">SUBMIT</button>
                <p class="actions">
                    <!-- <a href="javascript:void(0)" class="forgot">Forgot Password?</a>  -->
                    <router-link :to="{name: 'reset-password'}" tag="a" href="javascript:void(0)" class="forgot">Reset Password?</router-link>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        $('.login-page').css({
            height: window.innerHeight + 'px'
        })
    }
}
</script>

<style>

</style>
