<template>
    <div class="login-page">
        <div class="login-card">

            <div class="heading">
                <img src="/static/img/logo/full-color.svg">
                <h3 class="title">LOGIN AS ADMIN</h3>
                <p class="text-center text-danger" v-if="loading ===  null">Login Failed</p>
            </div>

            <div class="form-group username">
                <input type="text" class="form-control" placeholder="username" v-validate="'required'" v-model="username" name="username">
            </div>

            <div class="form-group password">
                <input type="password" class="form-control" v-validate="'required'" placeholder="password" v-model="password" name="password">
            </div>

            <div class="form-group login-btn">
                <button class="btn btn-primary btn-block" @click="submit">
                    <span v-if="!loading">LOGIN</span> <div class="f-spinner white fa-spin fa-spin-2x" v-else></div>
                </button>
                <p class="actions">
                    <router-link :to="{name: 'forgot-password'}" href="javascript:void(0)" class="forgot">Forgot Password?</router-link> 
                    <router-link :to="{name: 'reset-password'}" tag="a" href="javascript:void(0)" class="reset">Reset Password?</router-link>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data () {
        return {
            username: '',
            password: '',
            loading: false
        }
    },
    methods: {
        submit () {
            this.$validator.validateAll().then(isValid => {
                if (isValid) {
                    this.loading = true
                    this.axios({
                        method: 'post',
                        url: 'sign-in',
                        data: {username: this.username, password: this.password}
                    }).then(response => {
                        console.log(response.data)
                        this.$auth.setToken(response.data.user.api_token)
                        this.$store.dispatch('setUser', response.data.user)
                        this.$router.push({name: 'dashboard'})
                        this.loading = false
                    }).catch(err => {
                        this.loading = null
                    })
                }
            })
        }
    },
    mounted () {
        $('.login-page').css({
            height: window.innerHeight + 'px'
        })
    }
}
</script>

<style>

</style>
