<template>
    <div class="login-page">
        <div class="login-card">

            <div class="heading">
                <img src="/static/img/logo/full-color.svg">
                <h3 class="title">RESET PASSWORD</h3>
            </div>

            <div class="form-group username">
                <input class="form-control" placeholder="old password" name="username">
            </div>

            <div class="form-group password">
                <input class="form-control" placeholder="new password" name="password">
            </div>

            <div class="form-group password">
                <input class="form-control" placeholder="confirm new password" name="password">
            </div>

            <div class="form-group login-btn">
                <button class="btn btn-primary btn-block">RESET PASSWORD</button>
                <p class="actions"><router-link :to="{name: 'login'}" tag="a" href="javascript:void(0)" class="forgot">Login?</router-link></p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted () {
        $('.login-page').css({
            height: window.innerHeight + 'px'
        })
    }
}
</script>

<style scoped>
    .form-group{
        margin: 0;
        /* background: red; */
    }
    .actions{
        margin: 0;
        /* background: blue; */
    }
</style>
