<template>
  <router-view/>
</template>

<script>
export default {
  name: 'App',
  mounted () {
    if (this.$auth.isAuthenticated()) {

      this.axios({
        url: 'user',
        method: 'get'
      }).then(response => {
        // console.log(response.data)
        this.$store.dispatch('setUser', response.data.user)
      })

      this.fetchArticles()
    }
  },
  methods: {
    fetchArticles (url) {
            url = url ? url : '/articles'
            this.axios({
                method: 'get',
                url
            }).then(response => {
                // console.log(response.data)
                this.$store.dispatch('setArticles', response.data.articles)
            })
        }
  }
}
</script>